[user]
	name = Noah Luck Easterly
	email = noah.easterly@gmail.com
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	commit-quick = !git commit -a -m \"`head -n 1`\"
	cq = !git commit-quick
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
